include mixins

doctype
html( lang="en" )
	head
		title Blog application
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

			
	body(style="padding-bottom:10rem;")
		.container
 
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		style.
			body { overflow-x: hidden;}
			
+nav("Blog", "dropdown_menu")
	+nav_item( "/users/profile") Login
	+nav_item( "/users/profile" ) Profile

	if data
		+nav_item( "posts" ) Posts
		+nav_item( "logout" ) Logout
	else

.row
	.col-md-4.col-sm-6.col-xs-12
		+panel("Post", "primary")
			each post in commentPosts
				ul 	
					li name: #{post.author}
					li title: #{post.title} 
					li body: #{post.body}
				form(method="post", action='/comments/new/' + post.id)
						div.input
							span.label Comment:
							textarea(name="comment", cols="40", rows="5")
						div.actions
							input(type="submit", value="Add comment")
				br
				br
			each comment in Comments
				ul 	
					li name: #{comment.author}
					li body: #{comment.body}

+bootswatch("darkly")

			script.
				$(document).ready(function(){
				$("#reload").click(function(){
				location.reload(true);
				});
				});	
