include mixins

doctype
html( lang="en" )
	head
		title Blog application
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
		link(href='/css/style.css', rel='stylesheet', type='text/css')
			
	body(style="padding-bottom:10rem;")
		.container
 
		script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		style.
			body { overflow-x: hidden;}
			ul{
			list-style:none;
			}
			ul li.title{font-size: 30px;
			color: #3E7683;}
			
+nav("Blog", "dropdown_menu")
	+nav_item( "/users/profile") Login
	+nav_item( "/users/profile" ) Profile

	if data
		+nav_item( "posts" ) Posts
		+nav_item( "logout" ) Logout
	else

.row
	.col-md-4.col-sm-6.col-xs-12
		+panel("All Posts", "primary")
			each post in allPosts
				ul 	
					li.author #{post.author}
					br
					li.title #{post.title}
					li.body #{post.body}
					
					a(href='/comments/users/' + user.id + '/posts/'+ post.id ) Double click to create a comment						



	.col-md-4.col-sm-6.col-xs-12
		+panel("Your Posts", "primary")
			each post in yourPosts
				ul 	
					li #{post.author}
					br
					li #{post.title}
					br 
					li.body #{post.body}
					
					a(href='/comments/users/' + user.id + '/posts/'+ post.id ) Double click to create a comment					



	.col-md-4.col-sm-6.col-xs-12
		+panel("Create a Post", "primary")
			form(method="post", action='/posts')
				div.input
					span.label Title 
					input(type="text", name="titleswag")
				div.input
					span.label 
					p Message 
					textarea(name="bodyswag", cols="40", rows="5")
				div.actions
					input(type="submit", value="Add post")


+bootswatch("darkly")

			script.
				$(document).ready(function(){
				$(":submit").click(function(){
				location.reload(true);
				});
				});	
