include mixins

doctype
html( lang="en" )
	head
		title Blog application
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
			
	body(style="padding-bottom:10rem;")
		.container
		script(src="https://code.jquery.com/jquery-2.2.1.js")
		script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

		script.
				$( document ).ready(function() {
					$('#post').click(function() {
					console.log("Something");
						$.post("/posts", Input,function(response) {
							for(i = 0; i < response.yourPosts.length; i++) {
								$('#list').append("<p id=" + i + ">" + response.yourPosts[i] + "</p>");
								}		
							});

					});
				});
		style.
			body { overflow-x: hidden;}
			ul{
			list-style:none;
			}
			ul li.title{font-size: 30px;
			color: #3E7683;}
			.author{ color: gray;}
			.body{font-size: 20px;}
			
+nav("Blog", "dropdown_menu")

	if user
		+nav_item( user.id + "/users" ) Profile
		+nav_item( "/logout" ) Logout
	else

.row
	.col-md-4.col-sm-6.col-xs-12
		+panel("All Posts", "primary")
			each post in allPosts
				ul 	
					li.author by: #{post.author}
					li.title #{post.title}
					br
					li.body #{post.body}
					br
					a(href='/comments/users/' + user.id + '/posts/'+ post.id ) Comment
					br						



	.col-md-4.col-sm-6.col-xs-12
		+panel("Your Posts", "primary")
			each post in yourPosts
				ul 	
					li.author by: #{post.author}
					li.title #{post.title}
					br 
					li.body #{post.body}
					br
					p#list
					a(href='/comments/users/' + user.id + '/posts/'+ post.id ) Comment	
					br				



	.col-md-4.col-sm-6.col-xs-12
		+panel("Create a Post", "primary")
			form(method="post", action='/posts')
				div.input
					span.label Title 
					input(type="text", name="titleswag")
				div.input
					span.label 
					p Message 
					textarea(name="bodyswag", cols="40", rows="5")
				div.actions
					input(type="submit", value="Add post", id="post")


+bootswatch("darkly")


